<div class='footer'>
  <div class='mx-5 mb-4 row '>
    <hr class='hrFading col-12 mt-5 mb-3'>
    <small class='mr-auto col-6'>
      <span class='text-muted'>Copyright© <span class='date'>2018</span></span>
      <a href='https://www.punktodniesienia.pl/'>Punkt Odniesienia</a>
      <svg x="0px" y="0px" width="35px" height="30px" viewBox="0 0 70 70" enable-background="new 0 0 70 70">
       <g><circle fill="#281409" cx="34.236" cy="57.414" r="6"></circle></g>
       <g><circle fill="#3EAD52" cx="34.236" cy="34.415" r="23"></circle></g>
       <g><circle fill="#281409" cx="6" cy="6.104" r="6"></circle></g>
       <g><circle fill="#281409" cx="50.473" cy="18.129" r="6"></circle></g>
       <g><circle fill="#FFFFFF" cx="34.236" cy="34.414" r="6"></circle></g>
      </svg>
    </small>
    <small class='ml-auto col-6 text-right'><span class='text-muted'>Znajdziecie nas:</span> <a href='#'>Medium.com</a> | <a href='#'>Facebook</a></small>

  </div>
</div>