<div class='footer'>
    <div class='mx-5 mb-4 row'>
        <hr class='hrFading col-12 mt-5 mb-3'>
        <small class='mx-auto text-center'>
            <span class='text-muted'>Copyright©
                <span class='date'>2018</span>
            </span>
            <span class='text-muted'>
                <a href='https://github.com/Thrajnor/ResearchProject'>Marcin Zaborowski</a>
            </span>
        </small>
    </div>
</div>