<div class='col-12 col-md-6 col-lg-12'>
    <div class="col-12 border p-0 roundedBorder flex-wrap">
        <div class='p-3'>
            <h2>Twoje odpowiedzi:</h2>
            <div class='p-1 my-2 answers row'>
                <span class="col-6 crop"><img class="img-fluid roundedBorder placeholder1" src='http://www.theemailcompany.com/wp-content/uploads/2016/02/no-image-placeholder-big-300x200.jpg'></span>
                <span class="col-6 crop"><img class="img-fluid roundedBorder placeholder2" src='http://www.theemailcompany.com/wp-content/uploads/2016/02/no-image-placeholder-big-300x200.jpg'></span>
                <span class="col-6 crop"><img class="img-fluid roundedBorder placeholder3" src='http://www.theemailcompany.com/wp-content/uploads/2016/02/no-image-placeholder-big-300x200.jpg'></span>
                <span class="col-6 crop"><img class="img-fluid roundedBorder placeholder4" src='http://www.theemailcompany.com/wp-content/uploads/2016/02/no-image-placeholder-big-300x200.jpg'></span>
            </div>
        </div>
        <div class='buttonBase flex-wrap'>
            <a class='btn btn-primary prevButton'>
                <span>Wstecz</span>
            </a>
            <a class='btn btn-primary nextButton'>
                <span>Dalej</span>
            </a>
        </div>
    </div>
</div>