{% extends 'base.html.twig' %}


{% block body %}
  <div class="row">
    <div class="col-sm">
      <div class='border'>
        Pytanie:
      </div>
      <div class='border'>
        Twoje odpowiedzi:
      </div>
    </div>
    <div class="col-7 border">
      <form class='search'>
        <input type='text' name='term'>
        <input type='submit'>
      </form>
      <div class='output'><div>
    </div>
  </div>
{% endblock %}