<div class='col-12 col-md-6 col-lg-12 mr-lg-0 ml-lg-0 mb-3 flex-wrap'>
    <div class="col-12 roundedBorder paper p-3">
        <h2>Pytanie:</h2>
        <p>{{questions[index].questionText}}</p>
    </div>
</div>