<div class='col-12 col-md-6 col-lg-12 mr-lg-0 ml-lg-0 mb-lg-3 flex-wrap'>
    <div class="col-12 border roundedBorder p-3">
        <h2>Pytanie:</h2>
        <p>Jaki obrazek przywodzi Ci na myśl imię Laura?</p>
    </div>
</div>