<div class='metric metricPadding container roundedBorder paper position-relative'>
    <div>
        <h2 class='mb-3'>Badanie postrzegania imion żeńskich</h2>
        <small class='muted'>Nadanie dziecku imienia to bardzo duża odpowiedzialność. Wierzymy, że imię jakie nosimy determinuje postrzeganie nas przez innych. Jesteśmy oceniani już od pierwszego spotkania nie tylko na poziomie wyglądu, ale też po tym jak i jakim imieniem się przedstawiamy. W związku z tym chcielibyśmy, abyście podzielili się z nami swoimi skojarzeniami odnośnie wybranych przez nas imion. Liczymy, że dzięki waszym odpowiedziom uda nam się wybrać idealne imię lub przynajmniej zminimalizować ryzyko wyrządzenia dziecku krzywdy... :)</small>
    </div>
    <button type="button" class='btn btn-primary wholeButton next'>
        Rozpocznij badanie
    </button>
</div>