<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8">
				<title>{% block title %}Welcome!{% endblock %}</title>
				<link rel='stylesheet' href="{{ asset('build/app.css') }}">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
				{% block stylesheets %}{% endblock %}
				<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		</head>
		<body {% block documentGet %}{% endblock %} >
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class='container'>
					<a class="navbar-brand" href="#">Navbar</a>
						<div class="mr-auto">
							<button class='btn btn-secondary rounded-circle m-1 question-select'>1</button>
							<button class='btn btn-secondary rounded-circle m-1 question-select'>2</button>
							<button class='btn btn-secondary rounded-circle m-1 question-select'>3</button>
							<button class='btn btn-secondary rounded-circle m-1 question-select'>4</button>
						</div>
				</div>
			</nav>

			<div class='container'>
			  {% include 'flash.html.twig' %}
				{% block body %}{% endblock %}
			</div>

			{% block javascripts %}{% endblock %}

      <script src="{{ asset('build/app.js') }}"></script>
		</body>
</html>
